<html>
  <head></head>
  <body>
    <%= message %>
    <% if message == "You got it right!" %>
    <p>
      The SECRET NUMBER is <%= number %>
    </p>
    <% end %>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>